In [1]:
age = 12
age*=3

age

36

In [2]:
a = (1+3)*4

In [3]:
a

16

In [4]:
print("hello"," 4",2+3)

hello  4 5

In [5]:
weight = 12
time = 13
height = 17


if weight > 300 and time < 6 and age > 17 and height < 72:
    message = "try to recruit him"

# List

In [6]:
city = ["karachi","kpk","gilgit"]
print(city[0])
print("Welcome to ",city[0])

karachi
Welcome to  karachi

In [7]:
listy=[1,2,3,4,5,"string"]

In [8]:
listy.append(16)

In [9]:
listy

[1, 2, 3, 4, 5, 'string', 16]

In [10]:
listy = listy +["hello","world"]

In [11]:
listy

[1, 2, 3, 4, 5, 'string', 16, 'hello', 'world']

In [12]:
print(listy)

[1, 2, 3, 4, 5, 'string', 16, 'hello', 'world']

In [13]:
listy.insert(0,100)

In [14]:
listy

[100, 1, 2, 3, 4, 5, 'string', 16, 'hello', 'world']

In [15]:
num = ["karachi","one","two","three","four","five",2]

In [16]:
num[2:10000]

['two', 'three', 'four', 'five', 2]

In [17]:
listy[2:9]

[2, 3, 4, 5, 'string', 16, 'hello']

In [18]:
listy[0:-1]

[100, 1, 2, 3, 4, 5, 'string', 16, 'hello']

In [19]:
listy[2:]

[2, 3, 4, 5, 'string', 16, 'hello', 'world']

In [20]:
del listy[1]

In [21]:
listy

[100, 2, 3, 4, 5, 'string', 16, 'hello', 'world']

In [22]:
del listy[1]

In [23]:
listy

[100, 3, 4, 5, 'string', 16, 'hello', 'world']

In [24]:
listy.remove(100)

In [25]:
listy

[3, 4, 5, 'string', 16, 'hello', 'world']

In [26]:
listy.remove("world")

In [27]:
listy

[3, 4, 5, 'string', 16, 'hello']

In [28]:
listy.pop(1)

4

# To remove last item on the list or you can give index as well in pop(). cannot give list numbers

In [29]:
listy

[3, 5, 'string', 16, 'hello']

In [30]:
listy.pop()

'hello'

In [31]:
listy

[3, 5, 'string', 16]

In [32]:
print(listy)

[3, 5, 'string', 16]

In [33]:
listy.pop(2)

'string'

In [34]:
listy

[3, 5, 16]

In [35]:
listy[2]=12

In [36]:
listy

[3, 5, 12]

In [37]:
state = ("hassan","haroon","khan","sarwat","sultan")

In [38]:
state

('hassan', 'haroon', 'khan', 'sarwat', 'sultan')

In [39]:
state

('hassan', 'haroon', 'khan', 'sarwat', 'sultan')

In [40]:
for x in state:
    print(x)

hassan
haroon
khan
sarwat
sultan

In [41]:
first_name = ["hassan","haroon"]
last_name = ["haroon","sultan"]
full_name = []
for x in first_name:
    for y in last_name:
        full_name.append(first_name+last_name)
print(full_name)

[['hassan', 'haroon', 'haroon', 'sultan'], ['hassan', 'haroon', 'haroon', 'sultan'], ['hassan', 'haroon', 'haroon', 'sultan'], ['hassan', 'haroon', 'haroon', 'sultan']]

In [42]:
monthly_income = input("Enter your monthly income: ")
monthly_income_as_int = int(monthly_income)

Enter your monthly income: 1200

In [43]:
city = input("Enter your name: ")
lower = city.lower()

cities = ["karachi","kpk"]
for x in cities:
    if x == lower:
        print("pass")

Enter your name: kpk
pass

In [44]:
name = "hassan"
name.title()

'Hassan'

In [45]:
customer = {"firstname":"hassan","secondname":"haroon","phone":"0321"}

In [46]:
customer["secondname"]

'haroon'

In [47]:
dick = {False:False}

In [48]:
dick[False]

False

In [49]:
diic = {"name":"hassan","lastname":"haroon","age":20}
diic["name"] = "khan"

In [50]:
diic

{'name': 'khan', 'lastname': 'haroon', 'age': 20}

In [51]:
del diic["name"]

In [52]:
diic

{'lastname': 'haroon', 'age': 20}

In [53]:
del diic["age"]

In [54]:
diic

{'lastname': 'haroon'}

In [55]:
diic["city"] = "karachi"

In [56]:
diic

{'lastname': 'haroon', 'city': 'karachi'}

In [57]:
for x in diic.keys():
    print(x)

lastname
city

In [58]:
for y in diic.items():
    print(y)

('lastname', 'haroon')
('city', 'karachi')

In [59]:
customers = [
    {"id":1,"firstname":"hassan","lastname":"haroon","age":21},{"id":2,"firstname":"haroon","lastname":"khan","age":54}
    
]

In [60]:
customers

[{'id': 1, 'firstname': 'hassan', 'lastname': 'haroon', 'age': 21},
 {'id': 2, 'firstname': 'haroon', 'lastname': 'khan', 'age': 54}]

In [61]:
co = customers[0]

In [62]:
co["firstname"]

'hassan'

In [63]:
len(customers)

2

In [64]:
new_dic = {"id":3,"firstname":"furquan","lastname":"farooq","age":30}

In [65]:
customers.append(new_dic)

In [66]:
len(customers)

3

In [67]:
customers

[{'id': 1, 'firstname': 'hassan', 'lastname': 'haroon', 'age': 21},
 {'id': 2, 'firstname': 'haroon', 'lastname': 'khan', 'age': 54},
 {'id': 3, 'firstname': 'furquan', 'lastname': 'farooq', 'age': 30}]

In [68]:
newone = {"id":3,"options":["male","female","tall","short"]}

In [69]:
customers.append(newone)

In [70]:
customers

[{'id': 1, 'firstname': 'hassan', 'lastname': 'haroon', 'age': 21},
 {'id': 2, 'firstname': 'haroon', 'lastname': 'khan', 'age': 54},
 {'id': 3, 'firstname': 'furquan', 'lastname': 'farooq', 'age': 30},
 {'id': 3, 'options': ['male', 'female', 'tall', 'short']}]

In [71]:
g = customers[3]

In [74]:
g

{'id': 3, 'options': ['male', 'female', 'tall', 'short']}

In [76]:
 customer_29876 = {
 "first name": "David",
 "last name": "Elliott",
 "address": "4803 Wellesley St.",
 "discounts": ["standard", "volume", "loyalty"],
 }

In [79]:
if "brother-in-law" in customer_29876["discounts"]:
    discount_amount = .30
elif "loyalty" in customer_29876["discounts"]:
    discount_amount = .15
elif "volume" in customer_29876["discounts"]:
    discount_amount = .10
elif "standard" in customer_29876["discounts"]:
    discount_amount = .05
elif "loyalty" in customer_29876["discounts"]:
    discount_amount = .15