# 1

In [1]:
def add_numbers():
    num1 = 2
    num2 = 2
    total = num1 + num2
    print(total)

In [2]:
add_numbers()

4

# 2

In [3]:
def add(num1,num2):
    total = num1 + num2
    print(total)

In [4]:
add(2.90,45.5)

48.4

In [5]:
def greeting(greet):
    print(greet)

In [6]:
greeting("hello")

hello

In [7]:
what = "what ever we "

In [8]:
greeting(what)

what ever we

# 3

In [9]:
def name(husband_name, wife_name):
     print("The names of the couple are " + husband_name + " and " + wife_name)
        
name(husband_name="Bill", wife_name="Zelda")

The names of the couple are Bill and Zelda

In [10]:
def couples(husband,wife):
    print("the husband and wife is ",husband," & ",wife)

In [11]:
couples(husband = "hassan", wife="maria")

the husband and wife is  hassan  &  maria

In [12]:
couples("haris","sohail")

the husband and wife is  haris  &  sohail

# 4

In [13]:
def cal_tax(sale,tax):
    print("The sale is ",sale," & ",tax ," is so total tax to pay is ", sale * tax)

In [14]:
cal_tax(sale=100.33,tax=0.4)

The sale is  100.33  &  0.4  is so total tax to pay is  40.132000000000005

# 4.2

In [15]:
def four(to=2,two=2):
    print(to*two)

In [16]:
four(to=2)

4

# 5.1

In [17]:
def greeting(current,technology="AI"):
    print(current,"  ",technology)

greeting("blockchain")

blockchain    AI

# 5.2

In [18]:
customers = {
0: {
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
1: {
"first name":"hassan",
"last name": "haroon",
"address": "301 Arbor Rd.",
},
2: {
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
}
}

# 6

In [19]:
def result(winner,score,**other_info):
    print("total score is ",score)
    print("the winner is ",winner)
    for key,value in other_info.items():
        print(key+" : " + value)

In [20]:
result(winner="pakistan",score="1-0",overtime="None",injury="none")

total score is  1-0
the winner is  pakistan
overtime : None
injury : none

# 6.2

In [21]:
def add(num1,num2,*opt_nums):
    print(num1)
    print(num2)
    print(opt_nums)

# add(100,200,300,780,56)

# 7

In [22]:
def cal_tax(sales_total,tax_rate):
    tax = sales_total*tax_rate
    print(tax)

In [23]:
cal_tax(sales_total=200,tax_rate=7.0)

1400.0

# 7.2

In [24]:
def cal_tax(sales_total,tax_rate):
    tax = sales_total*tax_rate
    return tax

In [25]:
print(cal_tax(sales_total=200,tax_rate=0.4))

80.0

# 8

In [26]:
def add(num1,num2):
    total1= num1 +num2
    return total1
def subract(num1,num2):
    total2=num1-num2
    return total2

In [27]:
add(2,2)

4

In [28]:
subract(2,2)

0

In [29]:
var1 = add(2,3)
var2 = subract(3,2)

In [30]:
print(var1+2)

7

In [31]:
print(var2-2)

-1

# 9